[submodule "plugin/NeuralAmpModelerCore"]
	path = plugin/NeuralAmpModelerCore
	url = https://github.com/sdatkinson/NeuralAmpModelerCore.git
	branch = main
[submodule "plugin/AudioDSPTools"]
	path = plugin/AudioDSPTools
	url = https://github.com/sdatkinson/AudioDSPTools.git
