#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  background-color: #000000;
}

.read-the-docs {
  color: #888;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
